<html>
    <head>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <div class ="nav-container">
        <table>
            <tr>
                <td><a href="{{ url_for('index') }}" class = "button">Home</a></td>
                <td><a href="{{ url_for('createclass') }}" class = "button">Create Class</a></td>    
                {%if current_user.is_anonymous%}
                    <td><a href="{{ url_for('login') }}" class = "button">Login</a></td>
                {%else%}
                <td><a href="{{ url_for('logout') }}" class = "button">Logout</a></td>
                {%endif%}
                <td> Current user is: <span class="useritem"> {{ current_user.username }} </span></td>
            </tr>
        </table>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class = "flash-container"> {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {# application content needs to be provided in the content block #}
            {% block content %} {% endblock %}
        </div>

    </body>
</html>