{% extends "base.html" %}


{% block content %}
<h1> {{current_class.major}} {{current_class.coursenum}} {{current_class.title}}!</h1>
<table class = "coursetable">
    <thead>
    <tr valign = "bottom">
        <td width=25%> Name</td>
        <td width=25%> Email</td>
        <td width=25%> Address</td>
        <td width=25%> Student Last Seen</td>
    </tr>
</thead>
</table>

{%for enrollment current_class.roster%}
    {% set student = enrollment.studentenrolled %}
    {%include '_student.html'%}
{%endfor%}
<br>
<a href= "{{url_for('index')}}" class = "button"> Return to main page</a>

{% endblock %}